{% if current_user.specialization_id is ne(2)%}
{% extends "base_bootstrap.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block content %}
<h2>Добавить работы № {{order_client.id}} {{order_client.title_order}}</h2>

<style>
      .open-button {
      background-color: red;
      border: none;
      color: white;
      padding: 15px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
      }
      {box-sizing: border-box;}

    /* Всплывающая форма-скрыта по умолчанию */
    .form-popup {
      display: none;
      position: fixed;
      bottom: 20;
      right: 700px;
      border: 5px solid #f1f1f1;
      z-index: 8;
    }

    /* Добавить стили для контейнера формы */
    .form-container {
      max-width: 500px;
      padding: 10px;
      background-color: white;
    }

    /* Поля ввода полной ширины */
    .form-container input[type=text], .form-container input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }

    /* Когда входы получают фокус, сделайте что-нибудь */
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }

    /* Установите стиль для кнопки отправить/войти */
    .form-container .btn {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 1;
    }

    /* Добавить красный цвет фона для кнопки "Отмена" */
    .form-container .cancel {
      background-color: red;
    }

    /* Добавить некоторые эффекты наведения на кнопки */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }














</style>

<div class="container mt-3">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
        Добавить работы
    </button>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Введите данные</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form action="" class="form-container" id="form1" method="post" target="_blank">
                    <table>
                        <tr>
                            <input type="button" class="btn cancel" onclick="myFunction()"
                                   value="Очистить данные формы">
                        </tr>
                        <tr>
                            {{ form.number_slab.label }}<br>
                            {{ form.number_slab(class="form-control", id="formGroupExampleInput", placeholder="№ Сляба")
                            }}<br>
                            {% for error in form.number_slab.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </tr>
                        <tr>
                            {{ form.thickness.label }}<br>
                            {{ form.thickness(class="form-control", id="formGroupExampleInput", placeholder="Значение")
                            }}<br>
                            {% for error in form.thickness.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </tr>
                        <tr>
                            {{ form.type_slab.label }}<br>
                            {{ form.type_slab(class="form-control", id="formGroupExampleInput", placeholder="Значение")
                            }}<br>
                            {% for error in form.type_slab.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </tr>
                        <tr>
                            {{ form.value_work.label }}<br>
                            {{ form.value_work(class="form-control", id="formGroupExampleInput", placeholder="Значение")
                            }}<br>
                            {% for error in form.value_work.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </tr>
                        {{ form.submit(type="submit", class="btn", id="btn2", onclick="myFunction()")}}
                        <button type="button" class="btn cancel" data-bs-dismiss="modal">Закрыть</button>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<p></p>
<h3>Слябы</h3>
<hr>
<p></p>
<table class="table table-hover table-responsive-sm">
    <thead class="table-success">
    <tr>
        <th>Сляб №</th>
        <th>Заказ клиента №</th>
        <th>Выполнение работ</th>
        <th>Значение</th>
        {% if current_user.specialization_id is eq(3) %}
        <th>Исполнитель работ</th>
        <th>Назначить исполнителя</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for sl in slab %}
    <tr>
        <td>{{sl.number_slab}}</td>
        <td>По заказу№ {{sl.oreder_of_client}}</td>
        <td>{{sl.work_set.work_type}}</td>
        <td>{{sl.value}}</td>
        {% if current_user.specialization_id is eq(3) %}
        {% if sl.set_worker is eq(0) %}
        <td>Не назначен</td>
        {% else %}
        <td>{{sl.set_worker}}</td>
        {% endif %}
        <td>
            <button type="submit" class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#ModalAddWorker" name="getid" value="{{sl.id}}">
                Назначить сотрудника
            </button>
            </div>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<div class="modal fade" id="ModalAddWorker">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Введите данные</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form action="" class="form-container" id="form2" method="post" target="_blank">
                    <table>
                        <tr>
                            <input type="button" class="btn cancel" onclick="myFunction()"
                                   value="Очистить данные формы">
                        </tr>
                        <tr>
                            {{ form.type_slab.label }}<br>
                            {{ form.type_slab(class="form-control", id="formGroupExampleInput", placeholder="Значение")
                            }}<br>
                            {% for error in form.type_slab.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </tr>
                        <tr>
                            {{ form.number_slab.label }}<br>
                            {{ form.number_slab(class="form-control", id="formGroupExampleInput", placeholder="№ Сляба")
                            }}<br>
                            {% for error in form.number_slab.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </tr>
                        <tr>
                            {{ form.thickness.label }}<br>
                            {{ form.thickness(class="form-control", id="formGroupExampleInput", placeholder="Значение")
                            }}<br>
                            {% for error in form.thickness.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </tr>
                        {{ form.submit(type="submit", class="btn", id="btn2", onclick="myFunction()")}}
                        <button type="button" class="btn cancel" data-bs-dismiss="modal">Закрыть</button>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
<!--clear form fields-->
function myFunction() {
  document.getElementById("form1").reset();
}






</script>

{% endblock %}