{% extends 'new_base_bootstrap.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
<!--                    Form is send changed login/password-->
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Новый логин</label>
                            {{ form.username(class="form-control") }}
                            {% for error in form.username.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Новый пароль</label>
                            {{ form.password(class="form-control") }}
                            {% for error in form.password.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">Изменить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}