{% extends 'new_base_bootstrap.html' %}

{% block content %}

<div class="page-header align-items-start min-vh-100"
     style="background-image: url('{{ url_for('static', filename='/img/errors/aykd7hzn.png') }}');">
  <span class="mask bg-gradient-dark opacity-6"></span>
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-12 m-auto text-center">
        <h1 class="display-1 text-bolder text-danger">Доступ закрыт</h1>
        <h2 class="text-white">Вам закрыт доступ к этому модулю управления</h2>
        <p class="lead text-white">Перейдите в доступные модули управления</p>
        <a type="button" class="btn btn-outline-white mt-4" href="{{ url_for('workplace') }}">Перейти в доступный модуль управления</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}