{% if current_user.specialization_id is ne(2)%}
{% extends "base_bootstrap.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}


{% block content %}

<style>


    .block_content{
      background-color: #E3F2FD;
      width: auto;
      padding: 50px;
      margin: 0;
      border: 5px solid #dcf3f3
      -webkit-text-size-adjust: 100%;

        font-size: 15px;
        line-height: 1.5;
        box-sizing: inherit;
        padding: 0 8px;
        text-align: left;
        margin: 0 -16px;
    }

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #F5D1D1;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #97c9c7;
  color: white;
}
































</style>
<h5 style="color: red">Карта заказа клиента№{{order_client.id}}</h5>
<p></p>
<hr>

<table class="table table-hover table-responsive-sm">
    <thead class="table-success">
    <tr>
        <th>Название заказа</th>
        <th>Камень</th>
        <th>Описание заказа</th>
        <th>Адрес Заказа</th>
        <th>Конечная дата</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{order_client.title_order}}</td>
        <td>{{order_client.title_stone}}</td>
        <td>{{order_client.object_description}}</td>
        <td>{{order_client.address}}</td>
        <td>{{order_client.deadline}}</td>
    </tr>
    </tbody>
</table>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
                role="tab" aria-controls="nav-home" aria-selected="true">Предпроектная работа
        </button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
                role="tab" aria-controls="nav-profile" aria-selected="false">Слябы
        </button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
                role="tab" aria-controls="nav-contact" aria-selected="false">Детали
        </button>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
        <hr>
        <table class="table table-hover table-responsive-sm">
            <thead class="table-success">
            <tr>
                <th>№</th>
                <th>Работа</th>
                <th>Исполнитель</th>
            </tr>
            </thead>
            <tbody>
            {% for work in preproduct_work %}
            <tr>
                <td>{{work.id}}</td>
                <td>{{work.work.work_type}}</td>
                <td>{{work.worker.last_name}} {{work.worker.first_name}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="container-fluid mt-3">
            <form action="" method="post">
                {{ form.hidden_tag()}}
                <p></p>
                <div>
                    <div class="row">
                        <div class="col p-3  text-white">
                            {% if order_client.measurements %}
                            <p>
                       <span style="color: red;">
                       {{form.user_id_1.label}}<br> </span>
                                {{form.user_id_1()}}
                                {% endif %}
                            </p>
                        </div>
                        <div class="col p-3  text-white">
                            {% if order_client.project_drawing %}
                            <p>
                       <span style="color: red;">
                        {{form.user_id_2.label}}<br> </span>
                                {{form.user_id_2()}}
                                {% endif %}
                            </p>
                        </div>
                        <div class="col p-3  text-white">
                            {% if order_client.control %}
                            <p>
                       <span style="color: red;">
                           {{form.user_id_3.label}}<br> </span>
                                {{form.user_id_3()}}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <p> {{form.save}}</p>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
        <div class="row">
            <div class="col-sm-2">
                <h3>Слябы</h3>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-3">
                <div class="button btn-success btn-xs" id="add_slab">
                    <form name="form-btn" action="{{ url_for('add_slab') }}" method="get" target="_blank">
                        <button type="submit" name="q" value="{{order_client.id}}" class="btn btn-primary">
                            Добавить сляб
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <table class="table table-hover table-responsive-sm">
            <thead class="table-success">
            <tr>
                <th>Сляб №</th>
                <th>Заказ клиента №</th>
                <th>Выполнение работ</th>
                <th>Значение</th>
            </tr>
            </thead>
            <tbody>
            {% for sl in slab %}
            <tr>
                <td>{{sl.number_slab}}</td>
                <td>По заказу№ {{sl.oreder_of_client}}</td>
                <td>{{sl.work_set.work_type}}</td>
                <td>{{sl.value}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
        <div class="row">
            <div class="col-sm-2">
                <h3>Детали</h3>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-3">
                <div class="button btn-success btn-xs" id="add_part">
                    <form name="form-btn" action="{{ url_for('add_part') }}" method="get" target="_blank">
                        <button type="submit" name="q" value="{{order_client.id}}" class="btn btn-primary">
                            Добавить деталь
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <table class="table table-hover table-responsive-sm">
            <thead class="table-success">
            <tr>
                <th>Деталь №</th>
                <th>Заказ клиента №</th>
                <th>Выполнение работ</th>
                <th>Значение</th>
            </tr>
            </thead>
            <tbody>
            {% for part in parts %}
            <tr>
                <td>{{part.number_part}}</td>
                <td>По заказу№ {{part.oreder_of_client}}</td>
                <td>{{part.work_set_part.work_type}}</td>
                <td>{{part.value}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}